{% extends 'common.html'%}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <link rel="stylesheet" href="{% static 'blood-data.css'%}">
    <title>Title</title>
</head>
<body>
<div class="blood_container">
   <a href="{% url 'signup-home'%}">Back</a>
<h3>My Data</h3>
   <form method="get">
    {% csrf_token %}
{% for mydata in blood %}
   <h4>Welcome:{{user}}</h4>
    <p>Your blood donation details</p>
 <div class="input-box">
         <div class="label">Name:</div>
        <div class="data">{{mydata.name}}</div>
      </div>
    <div class="input-box">
         <div class="label">Age:</div>
        <div class="data">{{mydata.age}}</div>
      </div>
     <div class="input-box">
         <div class="label">Gender:</div>
        <div class="data">{{mydata.gender}}</div>
      </div>
    <div class="input-box">
         <div class="label">Blood Group:</div>
        <div class="data">{{mydata.blood_group}}</div>
      </div>
    <div class="input-box">
         <div class="label">Phone Number:</div>
        <div class="data">{{mydata.phone_number}}</div>
      </div>
    <div class="input-box">
         <div class="label">Place:</div>
        <div class="data">{{mydata.place}}</div>
      </div>
    <div class="input-box">
         <div class="label">Status:</div>
        <div class="data">{% if mydata.status is True%}
                            Available
                            {% else%}
                            Not Available
                            {% endif%}
        </div>
      </div>

<a class="btn btn-primary" href="{% url 'update-blood' mydata.id %}">Edit</a>
<a class="btn btn-primary" href="{% url 'delete-blood' mydata.id %}">Delete</a>
       {% endfor %}

   </form>

</div>
</body>
</html>
{% endblock content %}