{% extends 'common.html'%}

{% block content %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <link rel="stylesheet" href="{% static 'signup_page.css'%}">
    <title>Title</title>
</head>
<body>
<h1>WELCOME</h1><h3 style="color:#59BEEB">{{user}}</h3>
<div class="card mb-3" style="max-width: 70rem;">
    <p>Please click here for : </p>
    <a class="btn btn-primary" href="{%url 'register_organ'%}">Organ Donation</a>
<!--    <p>Please click here to : </p>-->
    <a class="btn btn-primary" href="{%url 'search_organ'%}">Search for Organ</a>
<!--    <p>Please click here to register for : </p>-->
    <a  class="btn btn-primary" href="{%url 'register_blood'%}">Blood Donation</a>
<!--    <p>Please click here to : </p>-->
    <a  class="btn btn-primary" href="{% url 'search_blood' %}">Search for Blood</a>
</div>
<div class="card mb-3" style="max-width: 70rem;">

        <h5 style="color:#59BEEB" >View Register Forms :</h5>
      <a  class="btn btn-primary" href="{% url 'organ-data' %}">ORGAN DONATION</a>
    <a  class="btn btn-primary" href="{% url 'blood-data' %}">BLOOD DONATION</a>
    </div>
</body>
</html>
{% endblock content%}