*{
 margin: 0;
 padding: 0;
 outline: none;
 box-sizing: border-box;
}
body{
height:100vh;

}
nav .navbar-expand-lg{
margin-right:20px;
}
nav .btn-outline{
color:#FFFFFF;
border:1px solid #FFFFFF;
margin-right:20px;
}
nav .btn-outline:hover{
color:#FFFFFF;
border:1px solid #FFFFFF;
transform:scale(1.1);
}
nav .btn-outline:hover:active{
color:#FFFFFF;
border:1px solid #FFFFFF;
}

.profile-link a{
color:#FFFFFF;
margin-ri
}
footer{
margin-top:100px;
}

.dropdown-toggle{
color:#FFFFFF;
margin-right:120px;
}
.dropdown-toggle:hover{
color:#FFFFFF;
}

.dropdown-toggle:hover:active{
color:#FFFFFF;
border:#FFFFFF;
}

.dropdown-item:hover{
background-color:#8BCBE7;
color:#FFFFFF;
}