{% extends 'common.html'%}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <link rel="stylesheet" href="{% static 'organ_search.css'%}">
    <title>Title</title>
</head>
<body>
<a class="back_tag" href="{% url 'signup-home' %}">Back</a>
<div class="card-body">
   <h2>Search for Organ</h2><hr>
<form class="search" action="{% url 'organ-result'%}" method="get">
    <input name="q" class="fas fa-search" type="text" autocomplete="on" placeholder=" &#xF002;"/>
</form>
    <p>If you want to be a <a href="{% url 'register_blood'%}">blood</a>/<a href="{% url 'register_organ'%}">organ</a> doner?</p>
 </div>


</body>
</html>
{% endblock content %}