*{
 margin: 0;
 padding: 0;
 outline: none;
 box-sizing: border-box;
}

#home {
height:100%;
width:100%;
margin-top:60px;
margin-bottom:60px;
}
#home .home_container img{
width:100%;
height:500px;
}
#services .service_container .card{
margin:60px;
align-items:center;
margin-left:auto;
margin-right:auto;
padding:30px;
border:1px solid #8BCBE7;
box-shadow: 15px 15px 15px #BBD3DF;
}
#services .service_container .card:hover{
transform:scale(1.1);
}

#services .service_container .card .title{
color:#59BEEB;
padding:5px 80px;
}
#services .service_container .card .title a{
color:#59BEEB;
}
#services .service_container .card .title a:hover{
color:#8BCBE7;
}
#services .service_container .card img{
width:75%;
height:50%;
}

#about .about_container{
height:100%;
width:100%;
margin-top:60px;
margin-bottom:60px;
margin-left:auto;
margin-right:auto;
padding:30px;

}
.title{
text-align:center;
padding:30px;
color:#59BEEB;
}
#faqs .mb-3{
padding:30px;
border:1px solid #8BCBE7;
box-shadow: 15px 15px 15px #BBD3DF;
margin:50px;
}

#services .service_container .services-title{
text-align:center;
padding:30px;
background-color:#B5D8E8;
}
