*{
padding:0px;
margin:0px
outline:none;
box-sizing:border-box;
}
body{
height:100vh;
}
.center {

 align-items:center;
 margin-left: auto;
  margin-right: auto;
  margin-top:50px;
}
h2{
margin-top:50px;
}
table tr,td{
border:1.5px solid #000000;
text-align:center;
color:black;
padding:10px;
}
.btn-primary{
background-color:#5CB7E1;
border:none;
}
.btn-primary:hover{
background-color:#8BCBE7;
border:none;
transform:scale(1.1);
}
.btn-primary:hover:active{
background-color:#5CB7E1;
border:none
}
