*{
 margin: 0;
 padding: 0;
 outline: none;
 box-sizing: border-box;
}

body{
height:100vh;
}
.form-container{
width:100%;
max-width:500px;
margin-top:60px;
margin-left:auto;
margin-right:auto;
padding:30px;
box-shadow: 15px 15px 15px #BBD3DF;
}
.form-container h2{
text-align:center;
padding:20px;

}
form label{
margin-right:20px;
display:inline-block;
width:110px;
}
form input{
width:300px;
padding:5px;
}

.button-primary{
text-align:center;
margin:30px;
}
.btn-primary{
background-color:#5CB7E1;
border:none;
margin-left:auto;
margin-right:auto;

}
.btn-primary:hover{
background-color:#8BCBE7;
border:none;
transform:scale(1.1);
}
.btn-primary:hover:active{
background-color:#5CB7E1;
border:none
}